.App {
  background-color: #111111;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ItemsSeection{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.ButtonsSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}